<turbo-frame id="task-form">
{% for task_form in forms %}
    {% set form = task_form.form.createView %}
    {% set task = task_form.task %}
    <div class="accordion-item border-0"  {{ stimulus_controller("interactive_form") }}>
        <div class="py-2 mb-2 border rounded {% if task.state.label == 'Terminé' %}border-success{% endif %}">
            {{ form_start(form, {attr: {'data-interactive-form-target': 'form' }}) }}
                <div class="row  align-items-center">
                    <div class="col-1 text-center">
                        <i class="{% if task.state.label == 'Terminé' %}fa-solid fa-check text-success{% else %}fa-solid fa-circle{% endif %} mx-3"></i>
                    </div>
                    <div class="col-2 text-dark interactive-form-field">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="col-2 text-dark interactive-form-field">
                        <span class="fs-3">|</span>
                        {{ form_label(form.typeOfTask) }}
                        {{ form_widget(form.typeOfTask) }}
                    </div>
                    <div class= "col-3 text-center">
                        <span class=" {% if task.DurationForecastAsString < task.TotalDueTaskDurationAsString %}text-danger{% endif %} ">{{ task.TotalDueTaskDurationAsString }} /</span>
                        <span class="text-dark interactive-form-field">
                            {{ form_label(form.durationForecast) }}
                            {{ form_widget(form.durationForecast) }}
                        </span>
                    </div>
                    <div class="col-3 justify-content-start d-flex px-4 collaborator-container">
                        <!-- Collaborators -->
                        {% for assignment in task.assignments %}
                            {% set collaborator = assignment.getCollaborator() %}
                            <div class="collaborator-wrapper"
                                 data-name="{{ collaborator.firstName }} {{ collaborator.lastName }}">
                                <img value="{{ collaborator.id }}"
                                     src="{{ asset('upload/' ~ collaborator.image) }}"
                                     alt="{{ collaborator.firstName }}"
                                     class="collaborator-img rounded-circle">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="col-1"
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target=".collapse{{ task.id }}"
                            aria-expanded="false"
                            aria-controls="collapse{{ task.id }}">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="accordion-collapse collapse collapse{{ task.id }} row"
                     aria-labelledby="heading{{ task.id }}"
                     data-bs-parent="#accordionExample">
                    <div class=" col-12 accordion-body text-dark interactive-form-field">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                </div>
            {{ form_end(form) }}
            <div class="accordion-collapse collapse collapse{{ task.id }}"
                 aria-labelledby="heading{{ task.id }}"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body collaborators">{{ include("partial/task/_user_list.html.twig") }}</div>
            </div>
        </div>
    </div>
{% endfor %}
</turbo-frame>