{% extends 'partial/_base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block main %}
    <turbo-frame id="interlocutor-{{ interlocutor.id }}">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-container p-4 rounded shadow">
                    {{ form_start(form, {
                                            'attr': {'data-turbo-frame': 'card-interlocutors-' ~ client.id},
                                            }) }}
                    {{ form_end(form) }}
                    <a href="{{ path("viewClients") }}">Retour</a>
                </div>
            </div>
        </div>
    </div>
    </turbo-frame>
{% endblock %}

