<div class="d-flex  flex-lg-row m-3 mt-0 mb-0 accordion-item border-bottom-0">
    <div class="card shadow w-100 col-12 col-lg-11 me-lg-2 d-flex flex-column flex-lg-row  mb-lg-0 accordion-header"
         style="background-color: #f8f8f8">
        <div class="col m-3 align-content-center">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center mb-3 mb-lg-0">
                <div class="col-12 col-lg-4 mb-2 mb-lg-0 btngroupe">
                    <strong>{{ activity.name }}</strong>
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_DIRECTEUR') %}
                        <button class="btn btn-sm btn-warning m-1"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasEditActivity-{{ activity.id }}"
                                aria-controls="offcanvasEditActivity"
                                title="Modifier {{ activity.name }}">
                            <i class="edit-btn fa-solid fa-edit btn-warning"></i>
                        </button>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_DIRECTEUR') %}
                        <a class="btn btn-sm btn-info ms-1"
                           href="{{ path('statTask', {id: activity.id}) }}"
                           data-turbo="false"
                           title="Voir les statistiques pour {{ activity.name }}">
                            <i class="edit-btn fa-solid fa-chart-gantt btn-warning"></i>
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                    <p class="mb-0">
                        Date de début :
                        {{ activity.startDate|date("d/m/Y") }}
                    </p>
                </div>
                <div class="col-12 col-lg-2">
                    <div class="progress mb-2 w-100" style="height: 1vw;">
                        <div class="progress-bar {{ progressClass }}"
                             role="progressbar"
                             style="width: {{ progress }}%"
                             aria-valuenow="{{ progress }}"
                             aria-valuemin="0"
                             aria-valuemax="100">{{ progress|number_format(0) }}%</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center mt-3 mt-lg-0">
                <div class="align-items-center col-12 col-lg-4 mb-2 mb-lg-0">
                    {% if activity.client is not null %}
                        <div class="d-flex align-items-center">
                            <p class="mb-0 fs-6">{{ activity.client.socialReason }}</p>
                            <div class="collaborator-wrapper m-1"
                                 data-name="{{ activity.client.socialReason }}">
                                <img src="{{ asset('upload/' ~ activity.client.image) }}"
                                     alt="{{ activity.client.socialReason }}"
                                     class="rounded-circle border border-2 border-secondary ms-3"
                                     style="width: 3rem;
                                            height: 3rem">
                            </div>
                        </div>
                    {% else %}
                        <p class="bg-light p-2 rounded"
                           style="width: fit-content;
                                  font-size: 0.875rem">{{ activity.typeOfActivity }}</p>
                    {% endif %}
                </div>
                <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                    {% if activity.endDate is empty %}
                        <p class="mb-0">Date de fin : Non renseigné</p>
                    {% else %}
                        {% if activity.endDate|date('Y-m-d') > 'now'|date('Y-m-d') %}
                            <p class="mb-0">
                                Date de fin :
                                {{ activity.endDate|date("d/m/Y") }}
                            </p>
                        {% else %}
                            <p class="mb-0" style="color:red;">
                                Date de fin :
                                {{ activity.endDate|date("d/m/Y") }}
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-12 col-lg-2 text-left text-lg-center">
                    Tâches :
                    {{ taskCount.done }}/{{ taskCount.total }}
                </div>
            </div>
        </div>
        <div class="col-md-auto align-content-center">
            <div class="bold">
                <button type="button"
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse_{{ activity.id }}"
                        aria-expanded="false"
                        aria-controls="flush-collapse_{{ activity.id }}"></button>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center ms-2">
        {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_DIRECTEUR') %}
            {% if activity.tasks is not empty %}
                <i class="fa-solid fa-circle-xmark" style="color: #c0bfbc;"></i>
            {% else %}
                <a href="{{ path('deleteActivity', {id: activity.id}) }}"
                   data-turbo-frame="activity-list"
                   class="d-flex align-items-center">
                    <i class="fa-solid fa-circle-xmark" style="color: #e01b24;"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="offcanvas offcanvas-start w-50"
     data-bs-scroll="true"
     tabindex="-1"
     id="offcanvasEditActivity-{{ activity.id }}"
     aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header position-relative">
        <h5 class="offcanvas-title w-100 text-center"
            id="offcanvasWithBothOptionsLabel">Modification d'une activité</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" style="margin: 0; padding:0;">
        <turbo-frame id="frameActivityForm" src="{{ path('editActivity', {id: activity.id}) }}">
        <div class="spinner-border" role="status">
            <span class="sr-only">Chargement...</span>
        </div>
        </turbo-frame>
    </div>
</div>
