<div data-controller="dropdown" class="dropdown">
    <a href="#" data-action="click->dropdown#toggle">
        <img src="{{ asset('upload/' ~ app.user.image) }}"
             alt="Profile Image"
             class="header-img rounded-circle">
    </a>
    <div data-dropdown-target="menu"
         class="dropdown-menu dropdown-menu-end d-none">
        <h6 class="dropdown-header">{{ app.user.firstName }} {{ app.user.lastName }}</h6>
        <a class="dropdown-item"
           href="{{ path('UserProfile', {id: app.user.id}) }}">
            <i class="fa-solid fa-user me-2"></i>Mon profil
        </a>
        <a class="dropdown-item"
           href="{{ path('editUser', {id: app.user.id}) }}">
            <i class="fa-solid fa-pen me-2"></i>Modifier vos informations
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">
            <i class="fa-solid fa-right-from-bracket me-2"></i>Déconnexion
        </a>
    </div>
</div>
